body {
  background-color: hsl(0, 0%, 95%);
  color: hsla(0, 0%, 100%, 0.75);
  font-size: 15px;
}

h2 {
  color: hsl(0, 0%, 95%);
}

p {
  color: hsla(0, 0%, 100%, 0.75);
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 100vh;
  max-width: 100vw;
  padding: 50px 10px;
}

.card-main {
  height: 40vh;
  width: 10vw;
  padding: 50px;
}
.card-1 {
  background-color: hsl(31, 77%, 52%);
  border-radius: 2% 0 0 2%;
}

.button-sedan {
  color: hsl(31, 77%, 52%);
  background-color: hsl(0, 0%, 95%);
}

.card-2 {
  background-color: hsl(184, 100%, 22%);
}

.button-suv {
  color: hsl(184, 100%, 22%);
  background-color: hsl(0, 0%, 95%);
}

.card-3 {
  background-color: hsl(179, 100%, 13%);
  border-radius: 0 2% 2% 0;
}

.button-luxury {
  color: hsl(179, 100%, 13%);
  background-color: hsl(0, 0%, 95%);
}

@media (max-width: 375px) {
  .card-1 {
    border-radius: 2% 2% 0 0;
  }
  .card-3 {
    border-radius: 0 0 2% 2%;
  }
  .main-container {
    flex-direction: column;
  }
  .card-main {
    width: 320px;
  }
}
