body {
  background-color: hsl(0, 0%, 95%);
  color: hsla(0, 0%, 100%, 0.75);
  font-size: 15px;
  display: flex;
  justify-content: center;
  font-family: Lexend Deca, sans-serif;
}

h2 {
  color: hsl(0, 0%, 95%);
  font-size: 40px;
  font-family: Big Shoulders Display, sans-serif;
}

p {
  color: hsla(0, 0%, 100%, 0.75);
  line-height: 180%;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 100vh;
  width:960px ;
  padding: 0px 10px;
}

.card-main {
  height: 35vh;
  width: 320px;
  padding: 55px;  
}

.card-1 {
  background-color: hsl(31, 77%, 52%);
  border-radius: 2% 0 0 2%;
  position: relative;
}

.button-sedan {
  color: hsl(31, 77%, 52%);
  background-color: hsl(0, 0%, 95%);
  text-align: center;
  border: 1px solid white;
  border-radius: 22px;
  padding: 12px 32px;
  position: absolute;
  bottom: 10%;
}

.button-sedan:hover {
  cursor: pointer;
  background-color: hsl(31, 77%, 52%);
  color: hsl(0, 0%, 95%);
}

.card-2 {
  background-color: hsl(184, 100%, 22%);
  position: relative;
}

.button-suv {
  color: hsl(184, 100%, 22%);
  background-color: hsl(0, 0%, 95%);
  text-align: center;
  border: 1px solid white;
  border-radius: 22px;
  padding: 12px 32px;  
  position: absolute;
  bottom: 10%;
}

.button-suv:hover {
  cursor: pointer;
  background-color: hsl(184, 100%, 22%);
  color: hsl(0, 0%, 95%);
}

.card-3 {
  background-color: hsl(179, 100%, 13%);
  position: relative;
  border-radius: 0 2% 2% 0;
}

.button-luxury {
  color: hsl(179, 100%, 13%);
  background-color: hsl(0, 0%, 95%);
  text-align: center;
  border: 1px solid white;
  border-radius: 22px;
  padding: 12px 32px;  
  position: absolute;
  bottom: 10%;
}

.button-luxury:hover {
  cursor: pointer;
  background-color: hsl(179, 100%, 13%);
  color: hsl(0, 0%, 95%);
}

@media (max-width: 375px) {

  .card-1 {
    border-radius: 2% 2% 0 0;
  }

  .card-3 {
    border-radius: 0 0 2% 2%;
  }

  .card-1, .card-2, .card-3 {    
    width: 320px;
    padding: 10px;
    height: 420px;    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
  }

  .main-container {
    flex-direction: column;    
    padding-top: 80px;
    padding-bottom: 80px;
    height: auto;
    max-width: 375px;
    margin: 10px;
  }

  .button-sedan, .button-suv, .button-luxury {
    position: relative;
    margin: 10px 0px 0px 40px;
  }

  p {
    margin: 0px 40px 60px 40px;
  }
  
  h2 {
    margin-left: 40px;
  }
  
  img {
    margin-top: 50px;
    margin-left: 40px;
  }
  
}
